.page-wrapper .page-content .title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 300;
}

.page-wrapper .page-content h2 {
    font-size: 24px;
    font-weight: normal;
}

.sub-heading {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    padding-bottom: 5px !important;
    border-bottom: 1px dotted;
}